<div class="container">
   <h1>Online Library</h1>
   <h2>Librarian Portal</h2>

   <a href="customer.hbs">
      <button type="button" id="submit">Switch to Customer View</button>
   </a>
   <br>
   <br>
   <div class="book_view">
      <h3>Add a Book to the Library:</h3>
      <form method="POST" action="/" >
         <label for="id">IBSN:</label>
         <input type="text" name="id" id="task" required>
         <label for="title">Title:</label>
         <input type="text" name="name" id="task" required>
         <label for="status">Status:</label>
         <input type="text" name="status" id="task" required>
         <label for="author">Author:</label>
         <input type="text" name="author" id="task" required>
         <label for="genre">Genre:</label>
         <input type="text" name="genre" id="task" required>
         <button type="submit" id="submit">Add Book</button>
      </form>
      <br>
      <h3>Books in the Library:</h3>
      <div id="tasks_container">
         <ul>
            {{#each items}}
            {{#if (isCompleted status)}}
            <li class="available">IBSN: {{id}} | Title: {{name}} | Status: {{status}} | Author: {{author}} | Genre: {{genre}} </li>
            <a href="/unavailable/{{id}}">Mark as Unavailable</a>
            {{else}}
            <li class="unavailable">IBSN: {{id}} | Title: {{name}} | Status: {{status}} | Author: {{author}} | Genre: {{genre}} </li>
            <a href="/available/{{id}}">Mark as Available</a>
            {{/if}}
            {{/each}}
         </ul>
      </div>
   </div>

<div class="audio_view">
   <h3>Add an AudioBook to the Library:</h3>
    <form method="POST" action="/audiobook" >
      <label for="id">ID:</label>
      <input type="text" name="id" id="task" required>
      <label for="name">Title:</label>
      <input type="text" name="name" id="task" required>
      <label for="status">Status:</label>
      <input type="text" name="status" id="task" required>
      <label for="length">Length:</label>
      <input type="text" name="length" id="task" required>
      <label for="author">Author:</label>
      <input type="text" name="author" id="task" required>
      <label for="narrator">Narrator:</label>
      <input type="text" name="narrator" id="task" required>
      <label for="genre">Genre:</label>
      <input type="text" name="genre" id="task" required>
      <button type="submit" id="submit">Add Audiobook</button>
   </form>
   <h3>Audiobooks in the Library:</h3>
   <div id="tasks_container">
      <ul>
         {{#each auds}}
         {{#if (isCompleted status)}}
         <li class="available">ID: {{id}} | Title: {{name}} | Status: {{status}} | Length: {{length}} | Author: {{author}} | Narrator: {{narrator}} | Genre: {{genre}} </li>
         {{!-- <a href="/unavailable/{{id}}">Mark as Unvailable</a> --}}
         {{else}}
         <li class="unavailable">ID: {{id}} | Title: {{name}} | Status: {{status}} | Length: {{length}} | Author: {{author}} | Narrator: {{narrator}} | Genre: {{genre}} </li>
         {{!-- <a href="/available/{{id}}">Mark as Available</a> --}}
         {{/if}}
         {{/each}}
      </ul>
   </div>
</div>

<div class="cd_view">
   <h3>Add a CD to the Library:</h3>
   <form method="POST" action="/cd" >
      <label for="id">ID:</label>
      <input type="text" name="id" id="task" required>
      <label for="name">Title:</label>
      <input type="text" name="name" id="task" required>
      <label for="status">Status:</label>
      <input type="text" name="status" id="task" required>
      <label for="artist_name">Artist Name:</label>
      <input type="text" name="artist_name" id="task" required>
      <label for="year">Year:</label>
      <input type="text" name="year" id="task" required>
      <label for="genre">Genre:</label>
      <input type="text" name="genre" id="task" required>
      <button type="submit" id="submit">Add CD</button>
   </form>
   <h3>CDs in the Library</h3>
   <div id="tasks_container">
      <ul>
         {{#each cd_s}}
         {{#if (isCompleted status)}}
         <li class="available">ID: {{id}} | Title: {{name}} | Status: {{status}} | Artist Name: {{artist_name}} | Year: {{year}} | Genre: {{genre}} </li>
         {{else}}
         <li class="unavailable">ID: {{id}} | Title: {{name}} | Status: {{status}} | Artist Name: {{artist_name}} | Year: {{year}} | Genre: {{genre}} </li>
         {{/if}}
         {{/each}}
      </ul>
   </div>
</div>

<div class="customer_list">
   <h3>Add a Customer to the Library Database:</h3>
   <form method="POST" action="/customer" >
      <label for="library_card_number">Library Card No.:</label>
      <input type="text" name="library_card_number" id="task" required>
      <label for="username">Username:</label>
      <input type="text" name="username" id="task" required>
      <label for="password">Password:</label>
      <input type="text" name="password" id="task" required>
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="task" required>
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="task" required>
      <label for="email">Email:</label>
      <input type="text" name="email" id="task" required>
      <label for="items_checked_out">Items Checked Out:</label>
      <input type="text" name="items_checked_out" id="task" required>
      <label for="address_number">Address Number:</label>
      <input type="text" name="address_number" id="task" required>
      <label for="address_street">Address Street:</label>
      <input type="text" name="address_street" id="task" required>
      <label for="address_city">Address City:</label>
      <input type="text" name="address_city" id="task" required>
      <label for="address_state">Address State:</label>
      <input type="text" name="address_state" id="task" required>
      <label for="address_zipcode">Address Zipcode:</label>
      <input type="text" name="address_zipcode" id="task" required>
      <button type="submit" id="submit">Add Customer</button>
   </form>
   <h3>Current Customers</h3>
   <div id="tasks_container">
      <ul>
         {{#each customers}}
         <li>Library Card No.: {{library_card_number}} | Username: {{username}} | Password: {{password}} | First Name: {{first_name}} | Last Name: {{last_name}} | Email: {{email}} | Items Checked Out: {{items_checked_out}} | Address: {{addres_number}} {{address_street}} {{address_city}}, {{address_state}} {{address_zipcode}}</li>
          <a href="/test/{{library_card_number}}"><i class="fa fa-trash"></i> Delete the Customer</a>
         {{/each}}
      </ul>
   </div>
</div>
</div>
